
@model IEnumerable<MarketOnl.Data.Product>

@{
	ViewBag.Title = "Shop Giày Online";
	Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- single product slide -->
<div class="single-product-slider">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Sản phẩm mới nhất</h1>
					
				</div>
			</div>
		</div>
		<div class="row">

			@if(Model != null && Model.Count() > 0)
			{
				foreach(var item in Model)
				{
					string url = $"products/{item.Alias}-{item.ProductId}.html";
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="~/images/products/@item.Picture" alt="">
							<div class="product-details">
								<h6 class="title-Products">
									@item.Title
								</h6>
								<div class="price">
									<h6>@item.PriceSale.Value.ToString("#,##0") VNĐ</h6>
									<h6 class="l-through">@item.Price.Value.ToString("#,##0") VNĐ</h6>
								</div>
								<div class="prd-bottom">

									<a href="#" data-id="@item.ProductId" class="social-info btnAddToCart">
										<span class="ti-bag"></span>
										<p class="hover-text">Giỏ hàng</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Yêu thích</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-sync"></span>
										<p class="hover-text">So sánh</p>
									</a>
									<a href="@Url.RouteUrl("ProductsDetails", new { Alias = item.Alias, id = item.ProductId })" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">Xem thêm</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
				}
			}

		</div>
	</div>
</div>
<!-- single product slide -->
<div class="single-product-slider">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Coming Products</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore
						magna aliqua.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p6.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p8.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p3.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p5.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p1.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p4.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p1.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- single product -->
			<div class="col-lg-3 col-md-6">
				<div class="single-product">
					<img class="img-fluid" src="img/product/p8.jpg" alt="">
					<div class="product-details">
						<h6>
							addidas New Hammer sole
							for Sports person
						</h6>
						<div class="price">
							<h6>$150.00</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to bag</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Wishlist</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a>
							<a href="" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
